:root {
  --color1: rgb(255, 129, 101);
}

body {
  font-family: "Montserrat";
}

.title {
  font-size: 80px;
}

.root {
  position: relative;
  height: 100vh;
}

.color-wrap {
  position: absolute;
  bottom: 0;
}

.colorbox {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.color1 {
  background-color: var(--color1);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
}

.color2 {
  background-color: var(--color2);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}
